#!ipxe
dhcp

kernel ${ENDPOINT}/vmlinuz ip=dhcp root=live:${ENDPOINT}/losvie.squashfs sshpk=${ENDPOINT}/pk fw=${FW} initrd=initrd.img rd.net.timeout.iflink=92 rd.net.timeout.ifup=92 rd.net.timeout.carrier=92 console=tty0 console=ttyS0 ro rd.live.image rd.lvm=0 rd.luks=0 rd.md=0 rd.dm=0 rd.multipath=0 consoleblank=0 rd.timeout=110 module_blacklist=usbnet netpoll.carrier_timeout=92 rd.auto=0 enforcing=0 selinux=0 module_blacklist=dm_multipath module_blacklist=dm_mirror module_blacklist=raid1 systemd.mask=lvm2-monitor intel_iommu=on

initrd ${ENDPOINT}/initrd.img

boot || shell
