[Unit]
Description="losvie-pubkeys"
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/losvie-pubkeys.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
